* {
  padding: 2px;
  margin: 0px auto;
}

body {
  font-family: 'Fuzzy Bubbles', cursive;
  font-weight: 400;
  font-style: italic;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
