.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.04);
  /* border: 2px solid gray;
  border-radius: 5px; */
  transition: background-color .5s ease-out;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

.container:hover::after {
  transition: background-color .5s ease-out;
}